@media only screen and (max-device-width: 900px) {
/* .menu { width:600px; } */
}


body{
	background-color: #f2f2f2;
	background-image: imagens/teste.jpeg;
    background-repeat: no-repeat;
    background-size: cover;
  }

.azul{
			background-color: #27408B;
			}

.claro{
	color: #79CDCD
}

		.rodape{
			text-align: center;
			font-family: 'Times New Roman' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			color: green;
			font-style: unset;
			}


		a:link, a:visited, a:active {
			text-decoration:all;
 			}

		a:hover {
			text-decoration: underline; 
			color: red;
			background: lime
			}

		h1 {
		background:  linear-gradient(lime, black);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: 	#8B4513;
		font-size: 40px		
	}

		h3 {
	font-family: 'Times New Roman' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black
}
